* {
  box-sizing: border-box;
}
button {
  font-size: 1.5rem;
}
.button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;

  @media screen and (-ms-high-contrast: active) {
    border: 2px solid currentcolor;
  }
}
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: start; 
  background-color:#F78828;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 5px ;
  padding: 0.25em 0.75em;
  min-width: 10ch;
  min-height: 44px;
  text-align: center;
  line-height: 1.1;
  transition: 1s background-color;
}
.button:hover,
.button:active {
    background-color: #f9a053;
    box-shadow: 0 0 0 4px #fbc99d;

  }
  .button:focus {
    outline-style: solid;
    outline-color: transparent;

  }
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Baloo 2", sans-serif;
}
